/*.form-control.ng-valid{
    box-shadow: 0 0 8px rgba(0, 255, 0, .9);
}*/
.form-control.ng-invalid{
    box-shadow: 0 0 8px rgba(255, 0, 0, .9);
}

.tabs-wrapper{
    width: 500px;
    margin: 0 auto;
}
.innerImg{
    width: 100px;
    height: 100px;
    border: 1px solid green;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
img{
    height: 100%;
}

.imgWrapper{
    height: 100%;
}
.align-middle{
    vertical-align: middle!important;
}

.best-players{
    margin-top: 20px;
}

@media screen and (max-width:600px) {
    .tabs-wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .innerImg{
        width: calc(25% - 5px);
        padding-bottom: calc(25% - 5px);
        height: auto;
        margin-bottom: 5px;
        margin-right: 0;
        position: relative;
    }
    .innerImg .imgWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}